%th{:class => "raam vouwgordijnen gordijnen vloeren behang big"} ruimte
%th{:class => "raam vouwgordijnen gordijnen vloeren behang inbetween"} aantal
%th{:class => "raam vouwgordijnen gordijnen vloeren behang medium", :colspan => 2} b x h
%th.vloeren snijmaat
%th.vloeren ondervloer
%th.vloeren legrichting
%th{:class => "gordijnen"} shm
%th{:class => "vouwgordijnen gordijnen"} knipmaat
%th{:class => "raam vouwgordijnen"} BM/DM
%th{:class => "gordijnen"} stuk L-R/stel
%th.gordijnen hoofdje
%th{:class => "gordijnen", :colspan => 2} rail lengte
%th{:class => "gordijnen"} bocht type
%th{:class => "gordijnen big"} bocht maat
%th{:class => "raam vouwgordijnen"} bediening
%th{:class => "raam"} tuimelkoord
%th.raam type      
%th.vouwgordijnen.raam uitlijnen met
%th.vouwgordijnen.gordijnen montage
%th.raam pakket
%th.raam koof
%th.raam zijgeleiding
%th.behang ondergrond
%th.behang voorstrijken
%th.raam.behang contra rolend
%th.raam.behang montage
%th.raam.vouwgordijnen.gordijnen.behang plaatsing
%th.raam.vouwgordijnen.behang montage hoogte (mm)
%th.raam prijs
%th.actions verwijder
