%table
  %thead
    %tr
      = render partial: 'orderforms/calculations/calculation_headers'
  %tbody.calculations
.links
  = link_to_add_association 'Voeg berekening toe', f, :calculations,
  partial: 'orderforms/calculations/calculation_fields',
  'data-association-insertion-method' => 'append',
  'data-association-insertion-node' => 'tbody.calculations', :class => 'add_calculation'

